@media (min-width: 500px ) {        
    .header .img-link{
        margin: 10px 15px;
    }
    .header .img-link img{
        max-width: 100px;
    }
}
@media (max-width: 600px ) {
    form, .page-container, .form {
        margin-left: 20px;
        margin-right: 20px;
    }
    .info-container{
        margin: 50px 10px;
    }
}

@media (max-width: 600px ) {
    .header .img-link{
        margin: 15px 0 0 0;
    }
    .header .img-link img{
        max-width: 60px;
    }
}

