<div class="header">
    <a class="img-link" style="position: absolute; top: 0; left: 0;" href=<%= home %>><img src="/img/mysecretapp.png" alt="Secret Message App - Encrypted Messaging" /></a>
    <h1 style="padding-top: 15px;"><a href=<%= home %>>My Secret App</a></h1>
</div>